<a href="https://colab.research.google.com/github/hemasphere/CS381/blob/main/Text_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hema Muni

CS 381

Homework 3

For the first 5 problems use the following data
 
"555-1239Dr. Bernard Lander(636) 555-0113Hollingdorp, Donnatella555-6542Fitzgerald, F. Sco\
tt555 8904Rev. Martin Luther King636-555-3226Snodgrass, Theodore5553642Carlamina Scarfoni"

1) Extract the Numbers

In [ ]:
text = "555-1239Dr. Bernard Lander(636) 555-0113Hollingdorp, Donnatella555-6542Fitzgerald, F. Sco\
        tt555 8904Rev. Martin Luther King636-555-3226Snodgrass, Theodore5553642Carlamina Scarfoni"

In [ ]:
nums = ""
for i in text:
  if i.isdigit():
    nums+=i

print(nums)

555123963655501135556542555890463655532265553642

2) Extract the names

In [ ]:
import re

name_list = re.findall(r"[A-Z][a-z]+,?\s+(?:[A-Z][a-z]*\.?\s*)?[A-Z][a-z]+", text)

print(name_list)

#https://stackoverflow.com/questions/55194224/extract-names-from-string-with-python-regex

['Bernard Lander', 'Hollingdorp, Donnatella', 'Fitzgerald, F. Sco', 'Martin Luther King', 'Snodgrass, Theodore', 'Carlamina Scarfoni']

3) Rearrange the vector so that all elements conform to the standard “firstname lastname”, preserving any titles (e.g., “Rev.”, “Dr.”, etc) or middle/second names.

In [ ]:
fullName = re.findall(r"[^()0-9-]+", text)
print(fullName)

['Dr. Bernard Lander', ' ', 'Hollingdorp, Donnatella', 'Fitzgerald, F. Sco        tt', ' ', 'Rev. Martin Luther King', 'Snodgrass, Theodore', 'Carlamina Scarfoni']

4) Construct a logical vector indicating whether a character has a title (i.e., Rev. and Dr.)

In [ ]:
character_REV = "Rev. "
character_DR = "Dr. "
character_vector = []

for i in fullName:
  if character_REV in fullName or character_DR in fullName:
    character_vector.append(True)
  else:
    character_vector.append(False)

print(character_vector)

[False, False, False, False, False, False, False, False]

5) Construct a logical vector indicating whether a character has a middle/second name.

6) Consider the HTML string 
"<title>BREAKING NEWS<title>". 
We would like to extract the first HTML tag (i.e., “<title>”). To do so we write the regular expression “<.+>”. Explain why this fails and correct the expression.

In [ ]:
html_string = "<title>BREAKING NEWS</title>"
title_tag = re.findall(r'<[^>]+>', html_string)

for i in title_tag:
  print(i)

<title>
</title>

7) Consider the string “(5-3)^2=5^2-2*5*3+3^2”. We would like to extract the equation in its entirety from the string. To do so we write the regular expression “[^0-9=+*()]+”. Explain why this fails and correct the expression.

If we do [^0-9=+*()] then the ^ symbol means any non-digit character which is what we don't want.

In [ ]:
"\(5-3\)\^2=5\^2-2\*5\*3\+3\^2"